// -- -- -- -- --
// _list.scss

ul.panel-list li:hover
    background: lighten($yellow, 15%)

ul.panel-list
  padding: 0px

ul.panel-list
  padding-left: 0
  list-style: none
  font-size: 13px
  margin-left: 20px

ul.panel-list li:before
  font-family: "Font Awesome 5 Free"
  //font-weight: 900
  content: '\f054'
  color: $gray
  margin: 0 5px 0 -12px

ul.panel-list li:hover:before
  color: $yellow

